
.Topshiriqlar_info{
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;
      
}

.Topshiriqlar_nav{
      background-color: #fff;
}

.Topshiriqlar_info_page{
      margin-top: 20px ;
}